Str.md

# Rust
target/
Cargo.lock

# Tauri
src-tauri/target/
src-tauri/gen

# node_modules
node_modules/

# rep & logs
rep/
logs/
SC2RepAnalysis/
SC2ReplayAnalyzer/
replays/
markdown/
# VSCode
.vscode/
*.jks

#python:
build
dist
__pycache__
.SC2venv
.env
main.spec

#temp file
BatchB.vue